#container{
	width: 1010px;
	margin: 20px auto 0;
	position: relative;
}
.box-shadow {
  box-shadow: 0 1px 2px #D1D1D1;
}
.white-bg {
    background: #fefefe;
    margin-bottom: 10px;
    overflow: hidden;
}
.cart-process {
    position: relative;
    height: 70px;
    background: #fafafa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 0;
}
.cart-process h1{
    margin: 0 0 0 30px;
    line-height: 70px;
    color: #a7a7a7;
    text-shadow: 0 -1px 0 #fff;
    font-size: 24px;
}
.cart-process i {
    position: absolute;
    right: 30px;
    top: 0;
    background: url(../img/cart_merge.png) no-repeat 500px 500px;
    width: 340px;
    height: 70px;
    display: inline-block;
}
#container .process-step1 i {
    background-position: 0 -88px;
}
.cart-list {
    padding: 20px 20px 20px;
    position: relative;
}
.cart-list .pure-table {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
}
.pure-table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.cart-list .pure-table thead {
    background: #f3f3f3;
    color: #555;
}
.cart-list .pure-table td,.cart-list .pure-table th {
    border-left: none;
}
.pure-table td, .pure-table th{
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 6px 12px;
}
.cart-th-check {
    width: 60px;
}
th, td {
  text-align: left;
  font-weight: normal;
}
input[type = "checkbox"]{
	margin: 3px 3px 3px 4px;
}
.cart-th-item-info {
    width: 280px;
}
.cart-th-item-sku {
    width: 140px;
}
.cart-th-subtotal {
    width: 100px;
    text-align: right;
}
.cart-th-ops {
    width: 50px;
}
.seg-entry{
    height: 15px;
}
.cart-list .event-entry {
    background: #F4F4F4;
    border: 1px solid #D8D8D8;
}
.event-entry td{
    position: relative;
}
.cart-list td {
    vertical-align: top;
    padding: 12px;
}
.event-entry .event-title {
    color: #555;
    padding-left: 6px;
}
a {
    color: #3E3E3E;
    text-decoration: none;
}
.green-tag {
    display: none;
    font-size: 12px;
    position: relative;
    top: -1px;
    margin: 0 0 0 10px;
    padding: 0 5px;
    color: #FFF;
    border: 1px solid #66A600;
    border-radius: 2px;
    background: #7DCA00;
}
.promotions-info{
    color: #777;
    display: none;
    top: -1px;
    position: relative;
}
.cart-list .item-entry {
    border: 1px solid #D8D8D8;
    border-top: 0;
}
.cart-list .cart-td-check {
    padding: 12px 0 12px 40px; vertical-align : middle;
    text-align: center;
    vertical-align: middle;
}
.cart-td-item-info .image {
    float: left;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 1px;
}
.cart-td-item-info .image img {
    width: 75px;
}
.cart-td-item-info .title {
    display: block;
    line-height: 20px;
    margin: 0 20px 0 90px;
    overflow: hidden;
    font-size: 13px;
}
.cart-td-item-sku {
    color: #888;
}
p {
    margin: 0 0 8px;
}
td.cart-td-item-price .strike {
    color: #a9a9a9;
    font-weight: normal;
    text-decoration: line-through;
}
.cart-td-number div {
    position: relative;
    font-size: 0;
}
.cart-td-number .del-num ,.cart-td-number .add-num {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
}
.cart-td-number .del-num .iconfont,
.cart-td-number .add-num .iconfont{
    font-size: 20px;
    display: inline-block;
}
.pure-form .cart-td-number input {
    width: 30px;
    text-align: center;
    height: 27px;
    border-radius: 0;
    font-size: 13px;
    display: inline-block;
    padding: 7px 5px;
    background: #fff;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
}
.cart-td-number .number-op {
    width: 20px;
    height: 25px;
    display: inline-block;
}
.cart-td-number .number-op{
    border: 1px #ccc solid;
    color: #999;
    line-height: 25px;
    text-align: center;
    vertical-align: top;
}
@font-face {
    font-family: 'iconfont';
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/mizhe_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.cart-td-subtotal {
    font-size: 14px;
    color: #ee4444;
    text-align: right;
}
.footer-entry{
    padding: 12px 0;
    border: 1px solid #D8D8D8;
    border-top: 0;
}
.subtotal-row{
    width: 100%;
    float: left;
    margin: 3px 0;
}
.footer-entry .price{
    width: 100px;
    text-align: right;
    float: right;
    color: #ee4444;
    font-size: 14px;
    padding-right: 72px;
    vertical-align: top;
}
.footer-entry .title{
    color: #afafaf;
    font-size: 13px;
    float: right;
}
.m-pay-bar-cont {
    margin-top:15px;
    width: 971px;
    height: 60px;
}
#pay-bar {
    background: #f3f3f3;
    padding: 0 0 0 25px;
    position: relative;
    margin-top: 15px;
    border:1px solid #f3f3f3;
}
#pay-btn {
    font-size: 14px;
    background: #ff7700;
    border-radius: 5px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 10px 15px 0;
    text-align: center;
    width: 120px;
}
.cart-payment {
    font-size: 26px;
    line-height: 60px;
    color: #ee4444;
}
.fr {
    float: right;
}
#pay-bar > div {
    line-height: 60px;
}
.red,.red {
    color: #CA3C3C;
}
#container .cart-td-number .add-num {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
}
.p20{
	font-size: 13px;
}
.cart-empty {
    padding: 50px 50px 200px 300px;
}
.cart-empty .title {
    color: #666;
    font-size: 16px;
}
.cart-empty .action {
    margin-left: 42px;
}
.cart-empty .title .iconfont {
    font-size: 28px;
    color: #ff6600;
    margin: 0 10px 0 0;
}
.blue {
    color: #2A9AD2;
}
.c-999 {
    color: #999;
}
.cart-empty .action .iconfont {
    font-size: 12px;
}
@font-face {
    font-family: 'iconfont';
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/mizhe_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
