body,div,ul,li,h1,h2,h3,h4,h5,h6,span,em,p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	text-decoration: none;
	font-family: inherit;	
}
.recommand-wrap{
	width: 1010px;
	margin: 46px auto 50px;
	font-family: "微软雅黑";
}
.recommand-wrap .title-box{
	position: relative;
	width: 306px;
	margin: 0 auto 30px;
	border-top:1px solid #b3b3b3 ;
}
.recommand-wrap .recommand-lists{
	font-size: 0;
	width: 1030px;
}
.recommand-wrap .title-box h1{
	position: absolute;
	background-color:#f4f4f4;
	width: 103px;
	top: -14px;
	left: 100px;
	font-size: 18px;
	font-style:italic;
	color: #333;
	text-align: center;
}
.recommand-wrap .recommand-lists li{
	position: relative;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #f4f4f4;
	transition: all .2s ease-out;
	margin: 0 10px 10px 0;
}
.recommand-lists li img{
	height:235px;
	width:500px;
	display: inline;
}
.recommand-lists li .intro-text{
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 10px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	height: 35px;
	line-height: 35px;
	width: 480px;
	background-color: #000000;
	background: rgba(0,0,0,0.3);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}
.recommand-lists li .prom-tip{
	position: absolute;
	top: 172px;
	right: 13px;
	width: 70px;
	height: 70px;
	background: url(../img/tip1.png) no-repeat;
}
.recommand-lists li .prom-tip .first-text{
	margin-top: 21px;
}
.recommand-lists li .prom-tip p{
	color:#ff6600;
	font-family: "微软雅黑";
	font-size: 12px;
	line-height: 1.2;
	margin: 0;
	text-align: center;
	font-weight: 600;
}
#container{
	overflow: hidden;
}
.brand-main-wrap{
	position: relative;
	width: 1010px;
	margin: 0 auto;
	margin-top:30px;
}
.brand-main-wrap .main-title{
	position: relative;
	width: 530px;
	margin: 0 auto;
	border: 1px solid #b3b3b3;
}
.brand-main-wrap .main-title .title-text{
	position: absolute;
	width: 126px;
	height: 26px;
	text-align: right;
	top: -12px;
	left: 102px;
	padding-right: 10px;
	color: rgb(51,51,51);
	background-color: rgb(244,244,244);
	font-size: 18px;
	font-style: italic;
	font-family: "微软雅黑";
}
.brand-main-wrap .main-title .sub-text{
	position: absolute;
	color: rgb(51,51,51);
	background-color: rgb(244,244,244);
	font-style:normal;
	font-size: 14px;
	font-family: "微软雅黑";
	padding-left: 7px;
	padding-right: 18px;
	left: 230px;
	top: -7px;
	line-height: 20px;
}
.brand-nav-wrap{
	position: absolute;
	height: 48px;
	line-height: 48px;
	top: 18px;
}
.brand-nav-wrap .brand-center{
	width: 1010px;
	margin: 0 auto;
}
.brand-nav-wrap .brand-logo{
	display: inline-block;
	vertical-align: top;
	background: url(../img/brandlogo.png) no-repeat;
	width:112px;
	height: 53px;
	margin-right:35px;
	visibility: hidden;
	opacity: 0;
	transition: all .15s ease-out;
}
.brand-nav-wrap .brand-nav-box{
	display: inline-block;
	vertical-align: top;
}
.brand-nav-wrap .brand-nav-box li{
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	position: relative;
}
.brand-nav-box li a{
	color: rgb(102,102,102);
	font-size: 14px;
	font-family:"微软雅黑";
	margin-right: 15px;
	padding: 6px 5px;
}
.brand-nav-box .selected a{
	color: #ff6600;
	border-bottom: 2px solid #ff6600;
}
.brand-nav-box li em{
	color: #666;
	vertical-align: top;
	font-size: 16px;
	position: absolute;
	left: 46px;
	top: 0;
}
.brand-nav-box li .e4{
	left: 70px;
	top: 0;
}
.brand-nav-box .ex-nav a{
	color: #ff6600;
}
.iconfont-brand{
	font-size: 16px;
	font-style: normal;
	/*font-family: "iconfont_brand";*/
	-webkit-text-stroke-width: 0.2px;
}
.tomorrow-link{
	font-size: 13px;
	color: #6bb400;
	position: absolute;
}
.tomorrow-link span{
	display: none;
	font-size: 12px;
	vertical-align: top;
}
.brand-content{
	margin-top: 80px;
}
.brand-content .brand-content-lists{
	font-size: 0;
	position: relative;
}
.brand-content .brand-content-lists li{
	height: 294px;
	border: 1px solid #f4f4f4;
	background-color: #fff;
	margin-bottom: 20px;
	transition: all .15s ease-out;
}
.brand-content-lists li .img-box{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 627px;
	height: 294px;
}
.brand-main-img{
	width: 627px;
	height: 294px;
}
.brand-info-box{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 320px;
	padding: 18px 30px 0;
}
.brand-info-box .brand-info-countdown{
	color: #666;
	font-size: 14px;
	border-bottom: 1px dashed #ddd;
	padding-bottom: 10px;
	margin-bottom: 24px;
}
.iconfont{
	font-size: 16px;
	font-style: normal;
}
.brand-info-box h1 a{
	color: rgb(51,51,51);
	font-size: 22px;
	font-family: "微软雅黑";
	font-weight: 600;
}
.countdown-container{
	display: inline-flex;
}
.brand-info-box .info-text-box{
	position: absolute;
	background-color: #fff;
	padding: 5px;
	height: 60px;
	width: 326px;
	margin-top: 10px;
	margin-left: -5px;
	line-height: 1.9;
	overflow: hidden;
	border: 1px solid #fff;
	z-index: 9;
	border-radius: 2px;
}
.brand-info-box .info-text-box .info-text{
	display: inline-block;
	color: #666;
	font-size: 12px;
	min-height: 60px;
}
.brand-content-lists .brand-info-box .more-icon{
	position: absolute;
	right: 7px;
	bottom: 2px;
	z-index: 9;
	display: inline;
}
.brand-info-box .price-box{
	position: absolute;
	top: 228px;
	left: 30px;
	width: 100%;
}
.brand-info-box .price-box .price{
	color: #ff3c00;
	font-size: 36px;
	font-weight: 500;
	font-family: arial;
}
.price-text{
	font-size: 18px;
	color: #FF3C00;
}
.price-box .iconfont-brand{
	font-size: 10px;
	color: #ff6600;
	margin-left: 30px;
	position: relative;
	top: -2px;
	margin-right: 8px;
}
.pj-text{
	color: #ff6600;
	font-size: 14px;
	margin-right: 10px;
	font-weight: 600;
}
.brand-nav-fix{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	border-top: 2px solid #fc6520;
	box-shadow: 10px 0 10px #ddd;
	background: rgba(255,255,255,0.9);
	z-index: 99;
}
#footer{
	text-align: center;
	color: #666;
	margin-top: 35px;
}
#footer .footer-content{
	background: #333;
	padding: 25px 0 35px;
}
.wrapper{
	margin: 0 auto;
	position: relative;
	display: block;
}
#footer p{
	margin: 2px 0 8px;
	font-size: 13px;
}
#footer .footer-nav a{
	color: #aaa;
	margin: 0 10px;
}
.buybar-wrap{
	width: 50px;
	border: 1px solid #e6e6e6;
	position: fixed;
	left: 50%;
	bottom: 30px;
	margin-left: 518px;
	background-color: #fff;
	-webkit-opacity: 0.75;
	overflow: visible;
	border-collapse: collapse;
	z-index: 9999;
}
.buybar-wrap .side-box-lists .side-block{
	position: relative;
	height: 44px;
	border-bottom: 1px solid #e6e6e6;
	overflow: visible;
	cursor: pointer;
}
.side-box-lists li .main-link{
	display: block;
	height: 100%;
	font-size: 18px;
	text-align: center;
	line-height: 44px;
}
.side-box-lists li .icon-mini{
	color: #a1a1a1;
}
.bar-cart-box .view-side{
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 0;
}
.hidden{
	display: none;
}
.side-box-lists .bar-cart-box .cart-num{
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #ff6600;
	border-radius: 50%;
	text-align: center;
	line-height: 16px;
	top: 5px;
	right: 8px;
	color: #fff;
	font-size: 10px;
}
.cart-content-box{
	position: absolute;
	width: 350px;
	left: -350px;
	bottom: -100px;
	border: 1px solid #FF6600;
	background-color: #fff;
}
.top-title-bar{
	height: 32px;
	border-bottom: 1px solid #e3e3e3;
	text-align: center;
	line-height: 32px;
}
.top-title-bar .top-cart-icon{
	color: #ff6600;
	font-size: 18px;
}
.top-title-bar .cart-title{
	color: #ff6600;
	margin-left: 5px;
	font-size: 13px;
}
.no-item{
	height: 95px;
	padding-top: 65px;
} 
.no-item .no-item-text{
	text-align: center;
	font-size: 16px;
	color: #999;
}
.foot-box{
	position: relative;
	height: 48px;
	border-top: 1px solid #e3e3e3;
}
.total-box{
	margin: 10px 0 0 18px;
}
.cart-link-btn{
	position: absolute;
	display: block;
	border-radius: 5px;
	right: 15px;
	top: 6px;
	width: 120px;
	height: 34px;
	background-color: #ff7700;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 34px;
}
.cal-text{
	font-size: 13px;
	color: #666;
}
.subtotal-money{
	font-size: 20px;
	color: #ee4444;
}
.side-box-lists .mobile-box .app-qrcode-box{
	position: absolute;
	left: -184px;
	top: -62px;
	width: 160px;
	padding: 10px;
	border: 2px solid #ff6600;
	background: #fff;
	height: 190px;
}
.mobile-box .qrcode-img{
	width: 158px;
	height: 158px;
	margin-top: 10px;
}
.mobile-box .app-qrcode-box p{
	text-align: center;
	color: rgb(85,85,85);
	line-height: 16px;
	font-size: 13px;
	font-family: "微软雅黑";
	font-weight: normal;
	margin: 0;
}
.side-box-lists li .main-link .hover-text{
	height: 100%;
	font-size: 11px;
	color: rgb(255,255,255);
	font-family: "微软雅黑";
}
@font-face {
    font-family: 'iconfont_bar';
    src: url('http://s0.husor.cn/style/buybar_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/buybar_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/buybar_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/buybar_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/buybar_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont_bar{
    font-family:"iconfont_bar";
    font-size:20px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
@font-face {
    font-family: 'iconfont';
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/mizhe_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
@font-face {
    font-family: 'iconfont_brand';
    src: url('http://s0.husor.cn/style/limitbuy1_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/limitbuy1_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/limitbuy1_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/limitbuy1_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/limitbuy1_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-brand{
    font-family:"iconfont_brand";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
@font-face {
    font-family: 'iconfont';
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot'); /* IE9*/
    src: url('http://s0.husor.cn/style/mizhe_font/iconfont.eot?#iefix') format('embedded-opentype'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.woff') format('woff'), 
    url('http://s0.husor.cn/style/mizhe_font/iconfont.ttf') format('truetype'),
    url('http://s0.husor.cn/style/mizhe_font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont";
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.bar-cart-box .main-link:hover{
	color: #F87622;
}
.mobile-box .main-link:hover{
	color: #F87622;
}
.cart-item-lists li{
    position: relative;
    height: 60px;
    padding: 12px;
    border-bottom: 1px solid #e3e3e3;
}
.cart-item-lists li .intro-box{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    margin-left: 3px;
    margin-top: 5px;
}
.cart-item-lists li .intro-box .main-intro-text{
    height: 30px;
    line-height: 1.3;
    font-size: 13px;
    color: #555;
    overflow: hidden;
    margin-bottom: 6px;
}
.cart-item-lists li .intro-box .main-sku-text{
    font-size: 12px;
    color: #999;
    height: 20px;
    overflow: hidden;
}
.cart-item-lists li .price-box{
    position: absolute;
    top: 23px;
    right: 15px;
    width: 105px;
    text-align: right;
    line-height: 1.1;
}
p {
    margin: 0 0 8px;
}
.cart-item-lists li .price-box .real-price{
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
}
.cart-item-lists li .price-box .buy-num{
    font-size: 13px;
    color: #666;
    margin-top: 0;
}
